

.textContainer{
    padding-top: 6px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    margin: 10px;
    /* border: 2px solid red; */
  
}
.poster{
width:100%;
    
 
}
.vote{
    font-size: 12px;
}
.name{
    font-weight: 600;
    font-size: 14px;
}
.description{
    font-size: 14px;
    
}